In [2]:
import pandas as pd

In [3]:
# pip install pandas

In [4]:
s = pd.Series([1116, 12259, 65119, 16699], index = ['서울', '부산', '인천', '대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [5]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [7]:
s.name = '농작물 생산량(톤)'

In [9]:
s.index.name = '지역구'

In [10]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [12]:
s1 = s/1000

In [13]:
s1.name = '농작물 생산량(k톤)'

In [14]:
s1

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [16]:
(s/4456952*100).round(2)

지역구
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농작물 생산량(톤), dtype: float64

In [17]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [18]:
s[0], s['서울']

(1116, 1116)

In [19]:
s[[0,1]]

지역구
서울     1116
부산    12259
Name: 농작물 생산량(톤), dtype: int64

In [20]:
s[[1,0]]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [21]:
s[['부산', '서울']]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [23]:
s[(s>10000) & (s<20000)]

지역구
부산    12259
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [24]:
s[(s/4456952*100)>0.5]

지역구
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [25]:
s[1:3]

지역구
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [26]:
s['서울':'대구']

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [27]:
s.서울

1116

In [28]:
{'서울':1, '부산':2}

{'서울': 1, '부산': 2}

In [29]:
for k,v in s.items():
    print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [30]:
'서울' in s.keys()

True

In [31]:
s21 = pd.Series([1116, 12259, 65119, 16699], index = ['서울', '부산', '인천', '대구'])
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [34]:
s20 = pd.Series([628, 11075, 56013, 15695], index = ['제주도', '부산', '인천', '대구'])

In [38]:
s_sub = s21 - s20

In [36]:
import numpy as np
type(np.nan)

float

In [ ]:
s_sub.astype(int)

In [45]:
s_sub = s21.sub(s20, fill_value = 0) # s21 - s20

In [46]:
s_sub.astype(int)

대구     1004
부산     1184
서울     1116
인천     9106
제주도    -628
dtype: int32

In [47]:
s_sub2 = s21.sub(s20)

In [49]:
s_sub2.fillna(0)

대구     1004.0
부산     1184.0
서울        0.0
인천     9106.0
제주도       0.0
dtype: float64

In [51]:
s_sub2.notnull()

대구      True
부산      True
서울     False
인천      True
제주도    False
dtype: bool

In [52]:
s20 = pd.Series([628, 11075, 56013, 15695], index = ['서울', '부산', '인천', '대구'])

In [57]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [58]:
rs

서울    77.71
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [59]:
rs['서울'] = 0

In [60]:
rs[0] = 123

In [61]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [62]:
del rs['대구']

In [63]:
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [68]:
rs['대구'] = 6.40

In [69]:
rs

서울    77.71
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [67]:
import random

In [70]:
random.randint(0,100)

67

In [74]:
key100 = random.sample(list(range(1000)), 100)
# pd.Series() 크기가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(1000)), 80)
value100 = random.sample(list(range(1000)), 100)
value80 = random.sample(list(range(1000)), 80)

s100 = pd.Series(value100, index = key100)
s80 = pd.Series(value80, index = key80)

In [75]:
s_100_80_sub = s100 - s80

In [76]:
s_100_80_sub.notnull()

3      False
12     False
26     False
44     False
46     False
       ...
979    False
989    False
997    False
998    False
999    False
Length: 171, dtype: bool